.about_header {
  background: linear-gradient(#51848f7d, #51848f),
    url("../../../public/aboutusimg.jpeg") center no-repeat;
  height: 400px;
  position: relative;
}

.about_header h5 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 2.4rem;
  color: aliceblue;
}

.img {
  position: relative;
}
.img_banner {
  position: absolute;
  top: 0;
  right: 0;
  height: 500px;
  background-color: #c2292e;
  /* display: flex; */
}
.img_banner ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  /* gap: 30px; */
  /* border-bottom: 2px solid ; */
}
.img_banner ul li {
  border-bottom: 2px solid;
  list-style: none;
  /* width: 20px; */
  padding: 2px;
  color: rgb(202, 203, 204);
}
.img_banner ul li:last-child {
  border: none;
}

.whychoose_point ul li {
  padding: 10px;
}

.whychoose_point ul li::before {
  content: "\2713";
  font-size: 1rem;
  margin-right: 10px;
  color: aliceblue;
  background-color: #c2292e;
  padding: 5px 10px;
  border-radius: 50%;
}
.text_title{
  display: flex;
  align-items: center;
}
.text_title .line {
  height: 4px;
  width: 3rem;
  border-radius: 15px;
  background-color: #c2292e;
  margin-bottom: 5px;
}
.text_title h5{
  padding-left: 1rem;
}
